<main>
    <section>
            <article class="titulo"><h1>NUESTRA EMPRESA</h1></article>  
    <article class="letreros">
        <mat-accordion>
        <mat-expansion-panel showToggle [expanded]="true" >
          <mat-expansion-panel-header class="disable_ripple">
            <mat-panel-title>
                OBJETIVOS DE CALIDAD
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <p>Cumplir con los requisitos normativos y reglamentarios para mantener la acreditación como organismo de inspección y la habilitación por parte del Ministerio de Transporte

            Mantener y mejorar continuamente los documentos del Sistema de Gestión de Calidad.
            
            Capacitar constantemente el recurso humano para el cumplimiento de los requisitos del Centro de Diagnóstico Automotor.
            
            Mantener la infraestructura, equipos, insumos de forma apropiada para cumplir con la normatividad vigente para realizar las RTMyEC.
            
            Brindar un buen servicio al cliente.</p>
        </mat-expansion-panel>
        
        </mat-accordion>
        <mat-accordion>
        <mat-expansion-panel showToggle [expanded]="true" >
          <mat-expansion-panel-header class="disable_ripple">
            <mat-panel-title>
              POLÍTICA DE CALIDAD

            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <p>
            El Centro de Diagnóstico Automotor, basado en la reglamentación y normatividad vigente para la revisión técnico mecánica de emisiones contaminantes y apoyado en su sistema de gestión de la calidad, es un organismo de inspección de apoyo de la política de estado para cumplir con los objetivos de reducir la accidentalidad y la contaminación hacia el medio ambiente, contando con equipos de alta tecnología, personal idóneo y altos valores morales y éticos que brindan un buen servicio al cliente.</p>
        </mat-expansion-panel>
        
        </mat-accordion>
        <mat-accordion>
        <mat-expansion-panel showToggle [expanded]="true" >
          <mat-expansion-panel-header class="disable_ripple">
            <mat-panel-title>
              MISIÓN
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <p>Nuestra misión es prestar el servicio de revisión técnico mecánica y de emisiones contaminantes a vehículos livianos y motocicletas 4T y 2T, garantizando el estricto cumplimiento de la normatividad vigente, bajo conductas de respecto y ética; desarrollando procesos de excelente calidad, con un personal altamente capacitado. Todo lo anterior con el fin de coadyuvar al programa del estado para reducir la accidentalidad y la contaminación al medio ambiente.</p>
        </mat-expansion-panel>
        
        </mat-accordion>
        <mat-accordion>
        <mat-expansion-panel showToggle [expanded]="true" >
          <mat-expansion-panel-header class="disable_ripple">
            <mat-panel-title>
              VISIÓN
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <p>La visión del CDA TU REVISIÓN, es obtener posicionamiento en el sector y en la ciudad como un Centro de Diagnóstico Automotor confiable, seguro y ético, donde la confianza sea el factor fundamental para ingresar a la inspección y ser un ejemplo de integridad. Mantenernos actualizados con la normatividad vigente en cuanto a equipos, personal e infraestructura para brindar un buen y continuo servicio.</p>
        </mat-expansion-panel>
        
        </mat-accordion>
    </article>
    
    </section>


</main>
<mat-divider></mat-divider>
<article class="imagenmapa">
  <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.5893855461522!2d-74.06657848523788!3d4.6670620966099055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9ba2080e2511%3A0x7215dbff2ed30599!2sCDA%20TU%20REVISI%C3%93N%20ALC%C3%81ZARES%20SAS!5e0!3m2!1ses!2sco!4v1600787436798!5m2!1ses!2sco"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  <img src="../../../../assets/img/2.png">
</article>
<mat-divider></mat-divider>
<h6>&copy; 2017-2020 CDA Los Alcazaréz Tu Revisión</h6>