<h1>REVISIÓN TÉCNICO MÉCANICA</h1>
<mat-divider></mat-divider>

<p>Realizamos todo el proceso de Revisión Técnico Mecánica y Emisiones Contaminantes, que evalúa: Inspección Sensorial, Prueba de Luces, Suspensión, Sistema de Frenos, Alineación y Análisis de Gases.<br>
 Una vez terminada la revisión, sí tu vehículo cumple los estándares establecidos en la normatividad vigente, recibirás el Certificado de Revisión.</p>
 <h2>Tenga en cuenta la restricción del Pico y Cédula, al momento de agendar su servicio.</h2>
 <app-tarjetaservicios></app-tarjetaservicios>