.slider{
    
    width: 100%;
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    justify-content: flex-end;
    h1{
        color: white;
        text-shadow: 2px 2px #4d6b597c;
    }
    a{
        width: 25%;
        img{
            width: 100%;
        }
    }
}