$principal: #8ac54b;
$colorletras: #54595f;
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 75%;
  
  mat-nav-list{
    padding-top: 3%;
    padding-bottom: 10%;
    a{
      color: $colorletras;
      mat-icon{
        padding-right: 4%;
        
      }
    
    }
  }
  
}
.sidenav mat-nav-list a:hover{
  color: #8ac54b;
}

.sidenav .mat-toolbar {
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  img{
    width: 90%;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.barra-menu{
  height: 80px;
  display: grid;
  grid-template-columns: 68% 32%;
  grid-template-rows: 100%;
  .imagenlogo{
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 60%;
    }
  }
  .menubuscador{
    
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .contenedor{
     height: 100%;
     font-size: 12px;

     display: flex;
     align-items: center;
      mat-form-field{
        height: 100%;
        display: flex;
        align-items: flex-end;
       
      }
    }
    button{
      mat-icon{
        font-size: 35px;
      }
    }

    
  }

}

@media( max-width: 960px ){
  .barra-menu{
    height: 80px;
    display: grid;
    grid-template-columns: 80% 10%;
    grid-template-rows: 100%;
    button{
      mat-icon{
        font-size: 25px;
      }
    }
  }

}
.router-link-active{
color: $principal;
}