<app-carrusel></app-carrusel>
<app-tarjetas></app-tarjetas>
<mat-divider></mat-divider>
<article class="imagenmapa">
    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.5893855461522!2d-74.06657848523788!3d4.6670620966099055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9ba2080e2511%3A0x7215dbff2ed30599!2sCDA%20TU%20REVISI%C3%93N%20ALC%C3%81ZARES%20SAS!5e0!3m2!1ses!2sco!4v1600787436798!5m2!1ses!2sco"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <img src="../../../../assets/img/2.png">
</article>
<mat-divider></mat-divider>
<h6>&copy; 2017-2020 CDA Los Alcazaréz Tu Revisión</h6>