
<style type="text/css">.redes-flotantes {
    position: fixed;
    right: 8px;
    top: 75%;
    z-index: 20;
    }
    .redes-flotantes img {
    float: right; clear: right;
     margin: 5px;
    -moz-transform: scale(.8) ;
    -webkit-transform: scale(.8) ;
    -o-transform: scale(.8) ;
    -ms-transform: scale(.8) ;
    transform: scale(.8) ;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    }
    .redes-flotantes img:hover {
    -moz-transform: scale(1.1) ;
    -webkit-transform: scale(1.1) ;
    -o-transform: scale(1.1) ;
    -ms-transform: scale(1.1) ;
    transform: scale(1.1) ;
    }</style>
    <div class='redes-flotantes'>
    
    
    
    <a href="http://wa.me/+573024279568" style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;" target="_blank"><img  data-original-height="59" data-original-width="59" src="../../../../assets/img/botoncomunicar.png" /></a></div>